body {
    height: 100%;
    margin: 0;
    background-color:#E9ECEF ;
  }

.align{
    text-align:center;
}

h1{
    color:green;
}

h3{
    color: rgb(4, 78, 4);
}

table.align {
    margin-left:auto; 
    margin-right:auto;
    }

h2{
    color: mediumseagreen;
}

section{
    background-color: white;
}

.boyutlandirma img {
    max-width: 300px;
    height: 270px;
    }

footer{
    text-align: center;
    padding: 50px 30px;
}